<div class="container">
  <h2 *ngIf="!isAdmin">You are not authorised to access this page</h2>
</div>
<div >
  <app-header></app-header>

  <div class="container">
    <div class="formHeading pt-4 pb-4">Parts Requested</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Request Id</th>
          <th scope="col">Part</th>
          <th scope="col">Raw Material</th>
          <th scope="col">Quantity</th>
          <th scope="col">In Date</th>
          <th scope="col">Out Date</th>
          <th scope="col" *ngIf="isFE"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Tub101</td>
          <td>Tub</td>
          <td>Steel</td>
          <td>10Kg</td>
          <td>11/01/2022</td>
          <td>13/01/2022</td>
          <td *ngIf="isFE">
            <button
              class="btn btn-info"
              data-toggle="modal"
              data-target="#exampleModal"
              
            >
              Edit
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>ST01</td>
          <td>Spin tub</td>
          <td>Steel</td>
          <td>20Kg</td>
          <td>14/01/2022</td>
          <td>19/01/2022</td>
          <td *ngIf="isFE">
            <button
              class="btn btn-info"
              data-toggle="modal"
              data-target="#exampleModal"
             
            >
              Edit
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>WT01</td>
          <td>Wash Tub</td>
          <td>Plastic</td>
          <td>200kg</td>
          <td>30/02/2022</td>
          <td>05/03/2022</td>
          <td *ngIf="isFE">
            <button
              class="btn btn-info"
              data-toggle="modal"
              data-target="#exampleModal"
              
            >
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <hr class="hrStyle" />
  </div>
  <div class="formHeading pt-4 pb-4">Requested Parts</div>
  <div class="chart-container1 ">
    <canvas id="MyChart">{{ chart }}</canvas>
  </div>
</div>
